.game-container{
    background-image: url("../img/home/bg.jpg");
    padding: 50px;
}
.game-container>div, .game-container>form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    font-size: 24px;
}
#sound, #noSound{
    filter: invert(100%);
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}
#playButton{
    height: 360px;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}
#playButton>button{
    font-size: 28px;
    animation: zoomIn 1s infinite;
}
@keyframes zoomIn {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}