@font-face {
    font-family: 'Horizon';
    src: url('../fonts/Horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Horizon', sans-serif;
    text-shadow: 0px 3px 3px #000000;
    font-weight: normal;
    color: white;
    user-select: none;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background: #ffffff;
    overflow: hidden;
}
h1{
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 0px 5px 5px #000000;
}

.game-wrapper {
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
    overflow: hidden;
}

.game-container {
    width: 1366px;
    height: 605px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    background-size: cover;
    background-position: center;
}

#preloader {
    position: fixed;
    inset: 0;
    background: white;
    z-index: 9999;
}

/* default */
input, select, textarea{
    max-width: 400px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: none;
}
input::placeholder{
    font-family: 'Horizon', sans-serif;
}
select>option{
    color: black;
}

button{
    width: fit-content;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    border-radius: 50px;
    background-color: #FAA12F;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: inset 0px -5px 5px #854b00, 0px 0px 5px #ffffff;
    transition: 0.3s;
}
button:hover{
    background-color: #854b00;
    box-shadow: inset 0px -5px 5px #000000, 0px 0px 5px #ffffff;
}
button+button{
    margin-left: 20px;
    background-color: #777777;
    box-shadow: inset 0px -5px 5px #313131, 0px 0px 5px #ffffff;
}
button+button:hover{
    background-color: #313131;
    box-shadow: inset 0px -5px 5px #000000, 0px 0px 5px #ffffff;
}
.greenButton{
    background-color: #80ee37;
    box-shadow: inset 0px -5px 5px #255c01, 0px 0px 5px #ffffff;
}
.greenButton:hover{
    background-color: #255c01;
    box-shadow: inset 0px -5px 5px #000000, 0px 0px 5px #ffffff;
}
.blueButton{
    background-color: #2e81ff;
    box-shadow: inset 0px -5px 5px rgb(0, 75, 119), 0px 0px 5px #ffffff;
}
.blueButton:hover{
    background-color: rgb(0, 39, 110);
    box-shadow: inset 0px -5px 5px #000000, 0px 0px 5px #ffffff;
}
.pinkButton{
    background-color: #ff44a1;
    box-shadow: inset 0px -5px 5px #55012b, 0px 0px 5px #ffffff;
}
.pinkButton:hover{
    background-color: #55012b;
    box-shadow: inset 0px -5px 5px #000000, 0px 0px 5px #ffffff;
}

p{
    font-size: 18px;
}

a{
    color: #000000;
    text-shadow: 0px 3px 3px #ffffff;
    transition: 0.3s;
    text-decoration: none;
}
a:hover{
    color: #585858;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #a8a8a8;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #5a5a5a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #2c2c2c;
}